{
  "openapi": "3.1.0",
  "info": {
    "title": "YuvexPay API",
    "description": "The YuvexPay API allows you to accept payments, process withdrawals, manage products and customers programmatically. All API access is over HTTPS and uses JSON request/response bodies.",
    "version": "1.0.0",
    "contact": {
      "name": "YuvexPay Support",
      "email": "support@yuvexpay.com",
      "url": "https://docs.yuvexpay.com"
    }
  },
  "servers": [
    {
      "url": "https://api.yuvexpay.com",
      "description": "Same base URL serves both sandbox and production. Send a `ypk_test_*` key for sandbox or a `ypk_live_*` key for production."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Inspect the API key in use"
    },
    {
      "name": "Payments",
      "description": "Create and manage payments"
    },
    {
      "name": "Withdrawals",
      "description": "Create and manage withdrawals"
    },
    {
      "name": "Products",
      "description": "Manage product catalog"
    },
    {
      "name": "Customers",
      "description": "Manage customer records"
    },
    {
      "name": "Documents",
      "description": "Generate receipts and statements"
    },
    {
      "name": "Balance",
      "description": "Inspect the current account balance"
    }
  ],
  "paths": {
    "/v1/auth/self": {
      "get": {
        "operationId": "getApiKeySelf",
        "summary": "Inspect the current API key",
        "description": "Return metadata about the API key currently being used: id, name, environment, scopes, IP allowlist, last-used timestamp and expiration. Useful for verifying key configuration without storing it client-side.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "API key metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "$ref": "#/components/schemas/ApiKeySelf"
                    }
                  }
                },
                "example": {
                  "apiKey": {
                    "id": "5d0f8b6e-3a02-4f5b-9e1c-7c6a4a1b8c9d",
                    "name": "Backend integration",
                    "description": null,
                    "environment": "PRODUCTION",
                    "prefix": "ypk_live_ab12cd34ef",
                    "scopes": [
                      "payments:write",
                      "payments:read",
                      "withdrawals:write",
                      "withdrawals:read"
                    ],
                    "ipAllowlist": [
                      "203.0.113.10"
                    ],
                    "rateLimitPerMinute": 600,
                    "expiresAt": null,
                    "lastUsedAt": "2026-05-03T14:21:08.443Z",
                    "createdAt": "2026-04-12T09:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a payment",
        "description": "Create a new payment. Supports PIX, direct credit card charges for headless single-method CARD flows, hosted card checkout, and boleto. Requires an idempotency key.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              },
              "example": {
                "amount": 49.9,
                "methods": [
                  "PIX"
                ],
                "currency": "BRL",
                "mode": "headless",
                "description": "Order #1234",
                "externalId": "order-1234",
                "expiresInMinutes": 30,
                "customer": {
                  "name": "Pedro Álvares Cabral",
                  "email": "user@example.com",
                  "phone": "+5511999999999",
                  "document": "12345678900"
                },
                "metadata": {
                  "order_id": "1234",
                  "source": "website"
                }
              },
              "examples": {
                "headlessPix": {
                  "summary": "Headless PIX payment",
                  "value": {
                    "amount": 49.9,
                    "methods": [
                      "PIX"
                    ],
                    "currency": "BRL",
                    "mode": "headless",
                    "description": "Order #1234",
                    "externalId": "order-1234",
                    "expiresInMinutes": 30,
                    "customer": {
                      "name": "Pedro Álvares Cabral",
                      "email": "user@example.com",
                      "phone": "+5511999999999",
                      "document": "12345678900"
                    },
                    "metadata": {
                      "order_id": "1234",
                      "source": "website"
                    }
                  }
                },
                "headlessCardDirect": {
                  "summary": "Headless direct credit CARD payment",
                  "value": {
                    "amount": 149.9,
                    "methods": [
                      "CARD"
                    ],
                    "currency": "BRL",
                    "mode": "headless",
                    "description": "Order #5678",
                    "externalId": "order-5678",
                    "customer": {
                      "name": "Pedro Álvares Cabral",
                      "email": "user@example.com",
                      "phone": "+5511999999999",
                      "document": "12345678900"
                    },
                    "card": {
                      "number": "4111111111111111",
                      "expiryMonth": "12",
                      "expiryYear": "2030",
                      "ccv": "123",
                      "installments": 1,
                      "remoteIp": "198.51.100.23",
                      "holderInfo": {
                        "postalCode": "01310930",
                        "addressNumber": "100",
                        "phone": "+5511999999999"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponse"
                },
                "examples": {
                  "headlessPix": {
                    "summary": "Headless PIX payment",
                    "value": {
                      "payment": {
                        "id": "5d0f8b6e-3a02-4f5b-9e1c-7c6a4a1b8c9d",
                        "txId": "PAY3f2a8b9c4e6d1f5a7b3c8d2e9f4a6b1c",
                        "amount": 49.9,
                        "feeAmount": 2.99,
                        "netAmount": 46.91,
                        "status": "NEW",
                        "paymentMethod": "PIX",
                        "currency": "BRL",
                        "description": "Order #1234",
                        "expiresAt": "2026-05-03T15:00:00.000Z",
                        "createdAt": "2026-05-03T14:30:00.000Z",
                        "methodData": {
                          "type": "PIX",
                          "pixCopyPaste": "00020126...",
                          "qrCodeBase64": "data:image/png;base64,...",
                          "qrCodeUrl": null
                        }
                      }
                    }
                  },
                  "headlessCardDirect": {
                    "summary": "Headless direct credit CARD payment",
                    "value": {
                      "payment": {
                        "id": "8f3c0a85-7c29-4e3a-9e07-5b1a7b6d1234",
                        "txId": "PAYa1b2c3d4e5f60718293a4b5c6d7e8f90",
                        "amount": 149.9,
                        "feeAmount": 8.25,
                        "netAmount": 141.65,
                        "status": "PROCESSING",
                        "paymentMethod": "CARD",
                        "currency": "BRL",
                        "description": "Order #5678",
                        "expiresAt": "2026-05-03T15:00:00.000Z",
                        "createdAt": "2026-05-03T14:30:00.000Z",
                        "methodData": {
                          "type": "CARD",
                          "captureType": "DIRECT",
                          "cardSubtype": "CREDIT",
                          "brand": "VISA",
                          "last4Digits": "1111",
                          "installments": 1
                        }
                      }
                    }
                  },
                  "hostedCheckout": {
                    "summary": "Hosted multi-method checkout",
                    "value": {
                      "payment": {
                        "id": "fa1c0a85-7c29-4e3a-9e07-5b1a7b6d1234",
                        "txId": "PAY9b8c7d6e5f4a3b2c1d0e9f8a7b6c5d4e",
                        "amount": 49.9,
                        "feeAmount": 2.99,
                        "netAmount": 46.91,
                        "status": "PENDING_METHOD_SELECTION",
                        "methods": [
                          "PIX",
                          "CARD"
                        ],
                        "currency": "BRL",
                        "checkoutUrl": "https://checkout.yuvexpay.com/checkout/fa1c0a85-7c29-4e3a-9e07-5b1a7b6d1234",
                        "expiresAt": "2026-05-03T15:00:00.000Z",
                        "isSandbox": true,
                        "createdAt": "2026-05-03T14:30:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "operationId": "listPayments",
        "summary": "List payments",
        "description": "Retrieve a paginated list of payments with optional filters.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/PaymentStatus"
            },
            "description": "Filter by payment status."
          },
          {
            "name": "method",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/PaymentMethod"
            },
            "description": "Filter by payment method."
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of date range (ISO 8601)."
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of date range (ISO 8601)."
          },
          {
            "name": "minAmount",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Minimum payment amount."
          },
          {
            "name": "maxAmount",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Maximum payment amount."
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Payments listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/payments/{paymentId}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get a payment",
        "description": "Retrieve a single payment by its ID.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The payment ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payments/txid/{txId}": {
      "get": {
        "operationId": "getPaymentByTxId",
        "summary": "Get payment by transaction ID",
        "description": "Retrieve a payment using the YuvexPay transaction ID (`txId`) instead of the UUID.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "txId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The YuvexPay transaction ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payments/{paymentId}/boleto": {
      "get": {
        "operationId": "getPaymentBoleto",
        "summary": "Download boleto PDF",
        "description": "Download the boleto PDF for a payment whose method is BOLETO. The response is the PDF binary; clients should treat the body as `application/pdf`.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The payment ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Boleto PDF.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payments/{paymentId}/refund": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Refund a payment",
        "description": "Issue a full or partial refund for a paid payment. Requires an idempotency key.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The payment ID to refund."
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundPaymentRequest"
              },
              "example": {
                "amount": 25,
                "reason": "Customer requested refund"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refund": {
                      "$ref": "#/components/schemas/Refund"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/v1/payments/{paymentId}/refunds": {
      "get": {
        "operationId": "listRefunds",
        "summary": "List refunds",
        "description": "Retrieve all refunds for a specific payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The payment ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Refunds listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refunds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Refund"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/withdrawals": {
      "post": {
        "operationId": "createWithdrawal",
        "summary": "Create a withdrawal",
        "description": "Create a PIX withdrawal to transfer BRL funds from your YuvexPay balance. Requires an idempotency key.\n\nThe PIX key type (CPF, CNPJ, e-mail, phone, or random key) is detected automatically from `destination.pixKey` — you do not need to declare it. `INVALID_PIX_KEY` covers format only. Whether the key exists on the PIX network is not checked before acceptance: depending on when the network rejects, a well-formed key that belongs to nobody surfaces either as a synchronous `400 PROVIDER_ERROR` on this call or later as a `WITHDRAWAL_FAILED` webhook.\n\nThe creditor document sent to the PIX network is resolved in three steps, in order: (1) `destination.recipientDocument` when you send it; (2) the PIX key itself when `destination.pixKey` is a CPF or CNPJ key; (3) your own verified tax id — company CNPJ for business accounts, owner CPF for individual accounts. Step 3 is a fallback, not a default: if you pay a third party on an e-mail, phone or random key and omit `destination.recipientDocument`, the network is told your own document is the creditor, and the payout may be rejected downstream by the receiving institution.\n\nWithdrawals may be blocked outside business hours or if your account has restrictions.\n\nBusiness accounts may also send `creditorDocumentSource: \"PERSONAL\"` to make step 3 resolve to the account owner CPF instead of the company CNPJ. It only affects step 3.",
        "tags": [
          "Withdrawals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWithdrawalRequest"
              },
              "examples": {
                "pix": {
                  "summary": "Third-party payout with the holder document",
                  "value": {
                    "amount": 500,
                    "method": "PIX",
                    "currency": "BRL",
                    "destination": {
                      "type": "pix",
                      "pixKey": "ana@example.com",
                      "recipientDocument": "529.982.247-25"
                    },
                    "description": "Weekly payout"
                  }
                },
                "pixDocumentKey": {
                  "summary": "CPF key — the creditor document is derived from the key",
                  "value": {
                    "amount": 500,
                    "method": "PIX",
                    "currency": "BRL",
                    "destination": {
                      "type": "pix",
                      "pixKey": "52998224725"
                    }
                  }
                },
                "pixOwnAccount": {
                  "summary": "Payout to your own account — no document needed",
                  "value": {
                    "amount": 500,
                    "method": "PIX",
                    "currency": "BRL",
                    "destination": {
                      "type": "pix",
                      "pixKey": "0f1e2d3c-4b5a-6978-8796-a5b4c3d2e1f0"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Withdrawal created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "withdrawal": {
                      "$ref": "#/components/schemas/WithdrawalCreated"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or the PIX network rejected the payout deterministically. Withdrawal-specific codes: `INVALID_PIX_KEY`, `INVALID_RECIPIENT_DOCUMENT`, `RECIPIENT_DOCUMENT_MISMATCH`, `WITHDRAWAL_BELOW_MINIMUM`, `WITHDRAWAL_LIMIT_EXCEEDED`, `WITHDRAWAL_BELOW_PROVIDER_MINIMUM`, `WITHDRAWAL_PIX_KEY_BLOCKED`, `BLOCKLIST_DENIED`, `INSUFFICIENT_BALANCE`, `WITHDRAWAL_RECIPIENT_DOCUMENT_MISMATCH`, `PROVIDER_ERROR`. Note that a missing `X-Idempotency-Key` is rejected before the error envelope is applied and returns the flat shape `{ statusCode, error, message, code }` with code `IDEMPOTENCY_KEY_REQUIRED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidRecipientDocument": {
                    "summary": "recipientDocument is not a valid CPF or CNPJ",
                    "value": {
                      "error": {
                        "code": "INVALID_RECIPIENT_DOCUMENT",
                        "message": "O CPF/CNPJ do destinatário é inválido. Envie um CPF de 11 dígitos ou um CNPJ de 14 dígitos."
                      }
                    }
                  },
                  "recipientDocumentMismatch": {
                    "summary": "recipientDocument disagrees with a CPF or CNPJ pixKey",
                    "value": {
                      "error": {
                        "code": "RECIPIENT_DOCUMENT_MISMATCH",
                        "message": "O CPF/CNPJ do destinatário não corresponde à chave PIX informada."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Withdrawals blocked for this account. Codes: `WITHDRAWALS_BLOCKED`, `VERIFICATION_REQUIRED`, `CREDITOR_DOCUMENT_UNAVAILABLE`, `SANDBOX_COMPANY_PRODUCTION_BLOCKED`, `CREDITOR_DOCUMENT_PERSONAL_FORBIDDEN`, `CREDITOR_DOCUMENT_OVERRIDE_FORBIDDEN`, `WITHDRAWAL_PROVIDER_OVERRIDE_FORBIDDEN`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "The withdrawal never reached the PIX network and no money moved. Codes: `WITHDRAWAL_PROVIDER_UNAVAILABLE`, `WITHDRAWAL_TEMPORARILY_UNAVAILABLE`, `WITHDRAWAL_PROCESSING_FAILED`. Safe to retry with a new idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWithdrawals",
        "summary": "List withdrawals",
        "description": "Retrieve a paginated list of withdrawals with optional filters.",
        "tags": [
          "Withdrawals"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/WithdrawalStatus"
            },
            "description": "Filter by withdrawal status."
          },
          {
            "name": "method",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PIX"
              ]
            },
            "description": "Filter by withdrawal method. Public withdrawals currently support PIX only."
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "BRL"
              ]
            },
            "description": "Filter by currency. Public withdrawals currently support BRL only."
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of date range (ISO 8601)."
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of date range (ISO 8601)."
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawals listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "withdrawals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Withdrawal"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/withdrawals/limits": {
      "get": {
        "operationId": "getWithdrawalLimits",
        "summary": "Get withdrawal limits",
        "description": "Retrieve your current withdrawal limits, usage and fee. A reduced \"nightly\" limit applies outside the `dayStartHour`–`dayEndHour` window (BRT); `isNightTime` tells you which one `currentLimit` currently reflects. Day and night share one `used` counter for the whole Brazilian calendar day.",
        "tags": [
          "Withdrawals"
        ],
        "responses": {
          "200": {
            "description": "Limits retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalLimits"
                },
                "example": {
                  "currentLimit": 5000,
                  "used": 1200,
                  "remaining": 3800,
                  "isNightTime": false,
                  "fee": 2.49,
                  "dayStartHour": 6,
                  "dayEndHour": 22,
                  "minAmount": 10,
                  "perTransactionLimit": 5000
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/withdrawals/{withdrawalId}": {
      "get": {
        "operationId": "getWithdrawal",
        "summary": "Get a withdrawal",
        "description": "Retrieve a single withdrawal by its ID.",
        "tags": [
          "Withdrawals"
        ],
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The withdrawal ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "withdrawal": {
                      "$ref": "#/components/schemas/Withdrawal"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get account balance",
        "description": "Return the current BRL balance for the company associated with the API key. The endpoint takes no parameters — the company is always derived from the API key. The three balance buckets are independent and additive: `available` (withdrawable now), `frozen` (reserved for in-flight withdrawals, refunds, or operational holds — not currently withdrawable), and `held` (confirmed but pending settlement). The total account balance is `available + frozen + held`. A sandbox API key always returns zeros, since sandbox transactions do not accumulate to a real balance.",
        "tags": [
          "Balance"
        ],
        "responses": {
          "200": {
            "description": "Balance retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "$ref": "#/components/schemas/Balance"
                    }
                  },
                  "required": [
                    "balance"
                  ]
                },
                "examples": {
                  "noFrozenFunds": {
                    "summary": "Production balance with nothing frozen",
                    "value": {
                      "balance": {
                        "available": 13.45,
                        "frozen": 0,
                        "held": 10.2,
                        "total": 23.65,
                        "currency": "BRL",
                        "environment": "PRODUCTION",
                        "updatedAt": "2026-05-06T12:00:00.000Z"
                      }
                    }
                  },
                  "withFrozenFunds": {
                    "summary": "Production balance with funds frozen for an in-flight withdrawal",
                    "value": {
                      "balance": {
                        "available": 6.47,
                        "frozen": 6.99,
                        "held": 10.2,
                        "total": 23.66,
                        "currency": "BRL",
                        "environment": "PRODUCTION",
                        "updatedAt": "2026-05-06T12:00:00.000Z"
                      }
                    }
                  },
                  "sandboxKey": {
                    "summary": "Sandbox API key — always returns zeros",
                    "value": {
                      "balance": {
                        "available": 0,
                        "frozen": 0,
                        "held": 0,
                        "total": 0,
                        "currency": "BRL",
                        "environment": "SANDBOX",
                        "updatedAt": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/products": {
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "description": "Create a new product in your catalog. Products can be referenced when creating payments to pre-fill amount and description.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              },
              "example": {
                "name": "Premium Plan",
                "description": "Monthly premium subscription",
                "amount": 99.9,
                "externalId": "plan-premium",
                "metadata": {
                  "tier": "premium",
                  "billing": "monthly"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      },
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Retrieve a paginated list of products with optional search and filters.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search products by name."
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by active status."
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Products listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/products/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get a product",
        "description": "Retrieve a single product by its ID.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The product ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Product found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "description": "Update one or more fields of an existing product.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The product ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "$ref": "#/components/schemas/Product"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Deactivate a product",
        "description": "Soft-delete a product by setting it as inactive. The product data is preserved but it can no longer be used in new payments.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The product ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Product deactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/products/{productId}/image": {
      "post": {
        "operationId": "uploadProductImage",
        "summary": "Upload product image",
        "description": "Upload (or replace) the image for a product. Send a single file as `multipart/form-data`. Accepted formats: PNG, JPEG. Maximum 10 MB.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The product ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file (PNG or JPEG, max 10 MB)."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteProductImage",
        "summary": "Delete product image",
        "description": "Remove the image associated with a product.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The product ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Image removed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/products/external/{externalId}": {
      "get": {
        "operationId": "getProductByExternalId",
        "summary": "Get product by external ID",
        "description": "Retrieve a product using your own external ID instead of the YuvexPay UUID.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Your external product ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Product found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "description": "Create a new customer record. Customers can be associated with payments for tracking and recurring billing.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              },
              "example": {
                "name": "Pedro Álvares Cabral",
                "email": "user@example.com",
                "document": "12345678900",
                "documentType": "CPF",
                "phone": "+5511999999999",
                "externalId": "cust-001",
                "metadata": {
                  "plan": "premium"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "Retrieve a paginated list of customers with optional search and filters.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by name, email, or document."
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by active status."
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Customers listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/customers/{customerId}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get a customer",
        "description": "Retrieve a single customer by their ID, including metadata.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The customer's prefixed identifier (e.g., `cus_ab12cd34ef`). This is the merchant-facing slug, not the internal UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "Customer found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "description": "Update one or more fields of an existing customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The customer's prefixed identifier (e.g., `cus_ab12cd34ef`). This is the merchant-facing slug, not the internal UUID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Deactivate a customer",
        "description": "Soft-delete a customer by setting them as inactive. Customer data is preserved.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The customer's prefixed identifier (e.g., `cus_ab12cd34ef`). This is the merchant-facing slug, not the internal UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/documents/payments/{paymentId}/receipt": {
      "get": {
        "operationId": "getPaymentReceipt",
        "summary": "Get payment receipt",
        "description": "Render a receipt for a payment. Requires the `documents:read` scope. The payment must be `PAID` or `REFUNDED`; any other status returns `400 RECEIPT_NOT_AVAILABLE`.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The payment ID."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "default": "html"
            },
            "description": "Output format."
          }
        ],
        "responses": {
          "200": {
            "description": "The rendered receipt. The response body is the document itself — HTML with `Content-Type: text/html`, or plain text with `Content-Type: text/plain`. It is not JSON, and it is not a PDF.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "400": {
            "description": "The payment is not `PAID` or `REFUNDED`. Code: `RECEIPT_NOT_AVAILABLE`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/withdrawals/{withdrawalId}/receipt": {
      "get": {
        "operationId": "getWithdrawalReceipt",
        "summary": "Get withdrawal receipt",
        "description": "Render a receipt for a completed withdrawal. Requires the `documents:read` scope. The withdrawal must be in status `COMPLETED`; any other status returns `400 RECEIPT_NOT_AVAILABLE`.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The withdrawal ID."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "default": "html"
            },
            "description": "Output format."
          }
        ],
        "responses": {
          "200": {
            "description": "The rendered receipt. The response body is the document itself — HTML with `Content-Type: text/html`, or plain text with `Content-Type: text/plain`. It is not JSON, and it is not a PDF.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "400": {
            "description": "The withdrawal is not `COMPLETED`. Code: `RECEIPT_NOT_AVAILABLE`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/statements": {
      "get": {
        "operationId": "getStatement",
        "summary": "Get account statement",
        "description": "Generate an account statement for a date range. Maximum range is 90 days.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start date in `YYYY-MM-DD` format.",
            "example": "2026-01-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End date in `YYYY-MM-DD` format.",
            "example": "2026-01-31"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "default": "html"
            },
            "description": "Output format."
          }
        ],
        "responses": {
          "200": {
            "description": "Statement generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "The statement content in the requested format."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "webhooks": {
    "PAYMENT_CONFIRMED": {
      "post": {
        "summary": "Payment confirmed",
        "description": "A card or boleto payment was authorized by the issuer. The funds are a held receivable, not yet a balance credit.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "txId": {
                    "type": "string",
                    "description": "Payment transaction id."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "CONFIRMED"
                    ],
                    "description": "Always `CONFIRMED`."
                  },
                  "method": {
                    "type": "string",
                    "description": "Payment method, e.g. `CARD` or `BOLETO`."
                  },
                  "source": {
                    "type": "string",
                    "description": "Present and equal to `reconciler` when the confirmation came from reconciliation rather than the provider callback."
                  }
                }
              },
              "example": {
                "txId": "PAY3F2A8B9C4E6D1F5A7B3C8D2E9F4A6B1C",
                "status": "CONFIRMED",
                "method": "CARD"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "PAYMENT_PAID": {
      "post": {
        "summary": "Payment paid",
        "description": "Funds were received and the net amount was credited to your balance.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payment id."
                  },
                  "txId": {
                    "type": "string",
                    "description": "Payment transaction id."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "PAID"
                    ],
                    "description": "Always `PAID`."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Gross amount in BRL."
                  },
                  "paidAt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "Settlement timestamp. `null` when not recorded."
                  },
                  "endToEndId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "PIX end-to-end identifier, safe for bank reconciliation. `null` when the network did not supply one."
                  },
                  "payer": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/WebhookPayerBlock"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Payer block, or `null` when every field would be null."
                  }
                }
              },
              "example": {
                "id": "5d0f8b6e-3a02-4f5b-9e1c-7c6a4a1b8c9d",
                "txId": "PAY3F2A8B9C4E6D1F5A7B3C8D2E9F4A6B1C",
                "status": "PAID",
                "amount": 49.9,
                "paidAt": "2026-06-06T12:00:00.000Z",
                "endToEndId": "E000000022026060612000abc1234def",
                "payer": {
                  "name": "Maria Silva",
                  "document": "39053344705",
                  "documentType": "CPF",
                  "institutionName": "Banco Example S.A.",
                  "institutionIspb": "00000000"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "PAYMENT_EXPIRED": {
      "post": {
        "summary": "Payment expired",
        "description": "The payment expired before being completed. For boleto this is not always terminal — a boleto paid on or shortly after its due date can settle late, producing a `PAYMENT_PAID` afterwards for the same charge.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payment id. Present only on some expiry paths."
                  },
                  "txId": {
                    "type": "string",
                    "description": "Payment transaction id."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "EXPIRED"
                    ],
                    "description": "Always `EXPIRED`."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Gross amount in BRL. Present only on some expiry paths."
                  }
                }
              },
              "example": {
                "txId": "PAY3F2A8B9C4E6D1F5A7B3C8D2E9F4A6B1C",
                "status": "EXPIRED"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "PAYMENT_CANCELLED": {
      "post": {
        "summary": "Payment cancelled",
        "description": "The payment was cancelled or definitively failed before completing.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payment id. Present only on some cancellation paths."
                  },
                  "txId": {
                    "type": "string",
                    "description": "Payment transaction id."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "CANCELLED"
                    ],
                    "description": "Always `CANCELLED`."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Gross amount in BRL. Present only on some cancellation paths."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Provider-supplied reason, when available."
                  }
                }
              },
              "example": {
                "txId": "PAY3F2A8B9C4E6D1F5A7B3C8D2E9F4A6B1C",
                "status": "CANCELLED",
                "reason": "payment_failed"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "PAYMENT_REFUNDED": {
      "post": {
        "summary": "Payment refunded",
        "description": "A refund completed for this payment. Note this body identifies the payment as `paymentId` and carries no `txId`.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payment id."
                  },
                  "refundId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Refund id."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Refunded amount in BRL."
                  },
                  "source": {
                    "type": "string",
                    "description": "Present when the refund was driven by a PIX MED; names the settling provider."
                  }
                }
              },
              "example": {
                "paymentId": "5d0f8b6e-3a02-4f5b-9e1c-7c6a4a1b8c9d",
                "refundId": "2c7f1a90-55b8-4a1e-9d33-6f0b2e4c7a11",
                "amount": 49.9
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "PAYMENT_REFUND_FAILED": {
      "post": {
        "summary": "Payment refund failed",
        "description": "A refund attempt failed. This body identifies the payment as `paymentId` and carries no `txId`.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payment id."
                  },
                  "refundId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Refund id."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Failure reason, safe to surface to operators."
                  }
                }
              },
              "example": {
                "paymentId": "5d0f8b6e-3a02-4f5b-9e1c-7c6a4a1b8c9d",
                "refundId": "2c7f1a90-55b8-4a1e-9d33-6f0b2e4c7a11",
                "reason": "Refund failed at provider [E42]"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "PAYMENT_CHARGEBACK": {
      "post": {
        "summary": "Payment chargeback",
        "description": "A chargeback was opened or processed. These two fields are the entire body — there is no id, amount or reason.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "txId": {
                    "type": "string",
                    "description": "Payment transaction id."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "CHARGEBACK"
                    ],
                    "description": "Always `CHARGEBACK`."
                  }
                }
              },
              "example": {
                "txId": "PAY3F2A8B9C4E6D1F5A7B3C8D2E9F4A6B1C",
                "status": "CHARGEBACK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "MED_RECEIVED": {
      "post": {
        "summary": "MED received",
        "description": "A PIX MED (special refund) was opened by the payer's bank.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "medId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "MED id."
                  },
                  "paymentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payment id."
                  },
                  "providerMedId": {
                    "type": "string",
                    "description": "Provider MED id, when supplied."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Disputed amount in BRL."
                  },
                  "frozenAmount": {
                    "type": "number",
                    "description": "Amount frozen on your balance in BRL."
                  },
                  "shortfall": {
                    "type": "number",
                    "description": "Amount that could not be frozen because of insufficient balance."
                  }
                }
              },
              "example": {
                "medId": "b41d7e02-9c3f-4a58-8e12-0d5a6f9b3c74",
                "paymentId": "5d0f8b6e-3a02-4f5b-9e1c-7c6a4a1b8c9d",
                "amount": 49.9,
                "frozenAmount": 30,
                "shortfall": 19.9
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "MED_RESOLVED": {
      "post": {
        "summary": "MED resolved",
        "description": "A PIX MED reached a terminal outcome.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "medId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "MED id."
                  },
                  "paymentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payment id."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "ACCEPTED_BY_USER",
                      "REJECTED_BY_USER",
                      "ACCEPTED_BY_PSP",
                      "REJECTED_BY_PSP",
                      "CANCELLED_BY_PSP"
                    ],
                    "description": "How the MED ended. Switch on this non-exhaustively — new outcomes can be added."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Disputed amount in BRL. Absent on the provider-lifecycle paths, which omit the key entirely."
                  },
                  "refundId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Refund id, when the resolution produced a refund."
                  },
                  "shortfall": {
                    "type": "number",
                    "description": "Unfrozen shortfall, when applicable."
                  },
                  "source": {
                    "type": "string",
                    "description": "Names the path that resolved the MED when it was not a direct merchant action, e.g. `onlyup`, `unoip`, `merchant_refund` or `<provider>-reconciler`."
                  }
                },
                "required": [
                  "medId",
                  "paymentId",
                  "resolution"
                ]
              },
              "example": {
                "medId": "b41d7e02-9c3f-4a58-8e12-0d5a6f9b3c74",
                "paymentId": "5d0f8b6e-3a02-4f5b-9e1c-7c6a4a1b8c9d",
                "amount": 49.9,
                "resolution": "ACCEPTED_BY_USER"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "WITHDRAWAL_REQUESTED": {
      "post": {
        "summary": "Withdrawal requested",
        "description": "A withdrawal was created and handed to the PIX network.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "withdrawalId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Withdrawal id."
                  },
                  "txId": {
                    "type": "string",
                    "description": "Withdrawal transaction id."
                  },
                  "netAmount": {
                    "type": "number",
                    "description": "Amount sent to the recipient in BRL, excluding the fee."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING"
                    ],
                    "description": "Always `PENDING`."
                  }
                }
              },
              "example": {
                "withdrawalId": "9a1b2c3d-4e5f-6a7b-8c9d-0e1f2a3b4c5d",
                "txId": "WIT1746280868443K3F9Q",
                "netAmount": 100,
                "status": "PENDING"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "WITHDRAWAL_SENT": {
      "post": {
        "summary": "Withdrawal sent",
        "description": "The recipient received the money. `failureReason` is absent from this body entirely, not `null`.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "withdrawalId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Withdrawal id."
                  },
                  "txId": {
                    "type": "string",
                    "description": "Withdrawal transaction id."
                  },
                  "netAmount": {
                    "type": "number",
                    "description": "Amount sent to the recipient in BRL, excluding the fee."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "COMPLETED"
                    ],
                    "description": "Always `COMPLETED`."
                  },
                  "endToEndId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "PIX end-to-end identifier. `null` when the network did not assign one."
                  },
                  "recipient": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/WebhookRecipientBlock"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Recipient block, or `null` when every field would be null."
                  }
                }
              },
              "example": {
                "withdrawalId": "9a1b2c3d-4e5f-6a7b-8c9d-0e1f2a3b4c5d",
                "txId": "WIT1746280868443K3F9Q",
                "netAmount": 100,
                "status": "COMPLETED",
                "endToEndId": "E000000022026060612050def5678abc",
                "recipient": {
                  "name": "João Souza",
                  "document": "52998224725",
                  "institutionName": "Banco Example S.A.",
                  "institutionIspb": "00000000",
                  "branch": "0001",
                  "account": "123456"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    },
    "WITHDRAWAL_FAILED": {
      "post": {
        "summary": "Withdrawal failed",
        "description": "The network rejected the transfer and the funds were returned to your balance. This also carries provider-driven reversals.\n\nThe HTTP body is this object exactly — there is no envelope and no `type` field. The event name is delivered in the `X-Webhook-Event` header. Most optional fields arrive as an explicit `null`; a few keys are dropped from the JSON entirely when unset, and those are marked as such below. Read values with a null-safe accessor rather than testing key presence.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "withdrawalId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Withdrawal id."
                  },
                  "txId": {
                    "type": "string",
                    "description": "Withdrawal transaction id."
                  },
                  "netAmount": {
                    "type": "number",
                    "description": "Amount that was attempted, in BRL."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "FAILED"
                    ],
                    "description": "Always `FAILED`."
                  },
                  "endToEndId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "PIX end-to-end identifier. `null` when the network did not assign one."
                  },
                  "recipient": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/WebhookRecipientBlock"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Recipient block, or `null` when every field would be null."
                  },
                  "failureReason": {
                    "type": "string",
                    "description": "Merchant-safe failure description. Never `null` — the key is absent when the network supplied no usable reason text."
                  }
                }
              },
              "example": {
                "withdrawalId": "9a1b2c3d-4e5f-6a7b-8c9d-0e1f2a3b4c5d",
                "txId": "WIT1746280868443K3F9Q",
                "netAmount": 100,
                "status": "FAILED",
                "endToEndId": null,
                "recipient": null,
                "failureReason": "A chave PIX informada não existe ou já não está ativa. Confira a chave e tente de novo."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 2xx status to acknowledge receipt."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "YuvexPay API key. Include as `Authorization: Bearer ypk_<env>_<kid>_<secret>` where `<env>` is `test` (sandbox) or `live` (production). Create and manage keys in the dashboard under **Settings > API Keys**."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "maxLength": 100
        },
        "description": "A unique string to ensure the request is processed only once. Must be unique per request. Valid for 24 hours."
      },
      "Page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "Page number for pagination."
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "description": "Number of items per page (1-100)."
      }
    },
    "schemas": {
      "PaymentMethod": {
        "type": "string",
        "enum": [
          "PIX",
          "CARD",
          "BOLETO"
        ],
        "description": "Available public payment methods."
      },
      "Currency": {
        "type": "string",
        "enum": [
          "BRL"
        ],
        "description": "Supported currencies."
      },
      "PaymentStatus": {
        "type": "string",
        "enum": [
          "NEW",
          "PENDING_METHOD_SELECTION",
          "PROCESSING",
          "CONFIRMED",
          "PAID",
          "CANCELLED",
          "EXPIRED",
          "REFUNDED",
          "PARTIAL_REFUND",
          "CHARGEBACK",
          "MED_FROZEN"
        ],
        "description": "Possible payment statuses."
      },
      "WithdrawalStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "PROCESSING",
          "COMPLETED",
          "FAILED",
          "CANCELLED"
        ],
        "description": "Possible withdrawal statuses."
      },
      "TransactionStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "PROCESSING",
          "COMPLETED",
          "FAILED",
          "CANCELLED",
          "REFUNDED"
        ],
        "description": "Generic transaction status."
      },
      "WebhookEventType": {
        "type": "string",
        "enum": [
          "PAYMENT_CONFIRMED",
          "PAYMENT_PAID",
          "PAYMENT_EXPIRED",
          "PAYMENT_CANCELLED",
          "PAYMENT_REFUNDED",
          "PAYMENT_REFUND_FAILED",
          "PAYMENT_CHARGEBACK",
          "MED_RECEIVED",
          "MED_RESOLVED",
          "WITHDRAWAL_REQUESTED",
          "WITHDRAWAL_SENT",
          "WITHDRAWAL_FAILED"
        ],
        "description": "Subscribable webhook event types. This value is delivered in the `X-Webhook-Event` header, never in the request body."
      },
      "CreatePaymentRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "format": "uuid",
            "description": "Link this payment to an existing product. If set, `amount` is optional and defaults to the product price."
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "description": "Link this payment to an existing customer. For CARD and BOLETO, the linked customer must have name and CPF/CNPJ."
          },
          "amount": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 1000000,
            "description": "Payment amount. Required unless `productId` is provided."
          },
          "methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            },
            "minItems": 1,
            "default": [
              "PIX"
            ],
            "description": "Accepted payment methods. Headless payments must use exactly one method."
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "default": "BRL"
          },
          "mode": {
            "type": "string",
            "enum": [
              "hosted",
              "headless"
            ],
            "default": "headless",
            "description": "hosted redirects the payer to a YuvexPay checkout page. headless returns method data directly for a single payment method. Headless CARD requires the card payload for direct credit card capture. Hosted or multi-method CARD flows continue through checkout/provider invoice URLs, where debit remains available."
          },
          "returnUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the payer after payment (hosted mode)."
          },
          "completionUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the payer after successful payment completion."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "description": "Payment description shown to the payer."
          },
          "externalId": {
            "type": "string",
            "maxLength": 100,
            "description": "Your own reference ID (e.g., order number)."
          },
          "expiresInMinutes": {
            "type": "integer",
            "minimum": 5,
            "maximum": 10080,
            "default": 60,
            "description": "Minutes until the payment expires (5-10080, i.e. up to 7 days)."
          },
          "enforcePayerDocument": {
            "type": "boolean",
            "default": false,
            "description": "PIX only. Opt-in request that the charge be paid from an account whose CPF/CNPJ matches the customer's document (same-document payment). Best-effort: when the provider cannot enforce it, the charge is still created and paid normally."
          },
          "customer": {
            "type": "object",
            "description": "Inline customer data. For CARD and BOLETO, include at least name and CPF/CNPJ unless you use customerId.",
            "properties": {
              "name": {
                "type": "string",
                "description": "Payer name. Required for CARD and BOLETO when not using customerId."
              },
              "document": {
                "type": "string",
                "description": "CPF or CNPJ. Required for CARD and BOLETO when not using customerId."
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "phone": {
                "type": "string",
                "description": "Payer phone number in national or international format."
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Arbitrary key-value pairs attached to the payment."
          },
          "passFeeToPayer": {
            "type": "boolean",
            "description": "Whether the YuvexPay fee should be added on top of `amount` and charged to the payer instead of being deducted from the merchant's net. When omitted, the company-level `passFeeToPayerDefault` setting applies. Note: payments with a resolved amount below R$1,00 are always charged to the payer regardless of this value (forced passthrough to keep merchant net positive). The final decision is reflected back as `feePassedToPayer` on the Payment object."
          },
          "card": {
            "type": "object",
            "description": "Direct credit card charge payload. Allowed only for headless single-method CARD payments and required in that flow.",
            "properties": {
              "number": {
                "type": "string",
                "description": "Primary account number (PAN), 13-19 digits."
              },
              "expiryMonth": {
                "type": "string",
                "description": "Expiration month as 1-2 digits."
              },
              "expiryYear": {
                "type": "string",
                "description": "Expiration year as 4 digits."
              },
              "ccv": {
                "type": "string",
                "description": "Card security code (3-4 digits)."
              },
              "installments": {
                "type": "integer",
                "minimum": 1,
                "maximum": 12,
                "default": 1,
                "description": "Installment count for direct credit card charges."
              },
              "remoteIp": {
                "type": "string",
                "description": "Customer IP address required by the acquiring flow."
              },
              "holderInfo": {
                "type": "object",
                "description": "Supplemental cardholder billing data. `postalCode` and `addressNumber` are required.",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "document": {
                    "type": "string",
                    "description": "CPF or CNPJ for the cardholder."
                  },
                  "postalCode": {
                    "type": "string"
                  },
                  "addressNumber": {
                    "type": "string"
                  },
                  "addressComplement": {
                    "type": "string"
                  },
                  "phone": {
[...]
